# IDE settings
*.class
test_signed.pdf
library/
.settings/
.classpath
.project
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# output files
target/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
